---
# Default user for rhel ami
remote_user: 'ec2-user'

master_group: 'tag_Group_master'
worker_group: 'tag_Group_worker'

# AWS Region Information
aws_region: "us-east-1"
aws_az: "us-east-1e"

# VPC Information
vpc_name: "helm-ceph"
vpc_cidr_block: "10.0.0.0/16"	
#vpc_subnet_id: "subnet-7b950e1e"

# Subnets
public_subnet_1_cidr: "10.0.1.0/24"
sg_ip_range: "0.0.0.0/0"
security_group_name: "helm-ceph"

# AWS Instance Settings
ec2_keypair: 'ksingh'
ec2_security_group: "{{ security_group_name }}"
ec2_instance_type: "t2.large"
ec2_image: "ami-97785bed"
ec2_region: "{{ aws_region }}"
ec2_az: "{{ aws_az }}"
ec2_device_name: "/dev/xvda"
ec2_volume_type: "gp2"
ec2_root_volume_size: 16
ec2_volume_delete_on_termination: "true"
ec2_instance_details:
    - { name: 'master', type: 'master', group: 'master' }
    - { name: 'worker1', type: 'worker', group: 'worker' }
    - { name: 'worker2', type: 'worker', group: 'worker' }
    - { name: 'worker3', type: 'worker', group: 'worker' }
